# Svelte/Vite/TailwindJS

# Node modules
node_modules/

# Build output
/dist/
/build/

# Local Environment Variables
.env

# Logs
logs/
*.log

# IDE and editor files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db
